.eventoperation-wrapper{
    background-color: #ffffff;
    .eventflow-box{
        padding: 30px;
        .ev-title{
            font-weight: bold;
        }
        .eventflow-content{
            display: flex;
        }
        .flowNameList-box{
            background: #F7F7F7;
            height: 60px;
            border: 1px solid #F0F0F0;
            border-radius: 8px;
            width: 400px;
            margin: 10px 20px;
            padding: 20px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .flowNameList-operBox{
                display: flex;
            }
            .iconwrapper{
                display: flex;
                align-items: center;
                .fileDoneIcon{
                    color:#03b298;
                    font-size: 22px;
                }
            }
            
        }
    }
    .linked-flow-box{
        position: absolute;
        bottom: 0;
        width: 100%;
        .btngroups{
            text-align: right;
            margin-right: 30px;
        }
    }
}