.startwrap{
    padding: 10px;
    background: #fff;
    height: calc(100% - 120px);
    .btngroups{
        text-align: right;
        margin-right: 20px;
        padding: 20px 0;
        background-color: #fff;
    }
    .event-strt{
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        font-size: 16px;
    }
}