.eventList-wrapper{
    .form-headerbox{
        height: 50px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rightBtn{
            margin-right: 40px;
        }
        label{
            font-weight: 400;
            color: #666666;
            font-family: Microsoft YaHei;
            font-size: 12px;
         }
        .onlistinput{
            .ant-input-group .ant-input{
                padding: 5px 10px;
                height: 28px;
                line-height: 28px;
            }
        }
    }
    .header-content-divider{
        background: rgba(244, 246, 252, 1);
        height: 10px;
        width: 100%;
    }
    .rowClassName{
        .ant-table-cell{
            padding: 10px 16px;
        }
    }
}
.event-ondeal-table{
    
        .ant-spin-nested-loading{
            width: 98.5vw;
        }
    
}
