.flowpermiss-wrapper{
    .input-text-content{
        padding: 2px 0;
    }
    .contentbox{
        padding: 10px;
        .permission-contentbox{
            padding: 15px;
            background: #f7f7f7;
            border: 1px solid #f7f7f7;
            border-radius: 8px;
            margin: 0 10px;
            .lableclass{
                width: 200px;
                max-width: 200px;
            }
            .set-form-class{
                cursor: pointer;
            }
        }
        .permission-contentbox:hover{
            border:1px solid #ddd;
        }
    }
    .header-content-divider{
        background: rgba(244, 246, 252, 1);
        height: 10px;
        width: 100%;
    }
    .form-headerbox{
        height: 50px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .formItemBox{
            display: flex;
            align-items: center;
        }
        label{
           font-weight: 400;
           color: #666666;
           font-family: Microsoft YaHei;
           font-size: 12px;
        }
        .rightBtn{
            margin-right: 40px;
        }
    }
}