.modeler-wrapper{
    .ant-form{
        margin: 0 0 10px 17px;
    }
    .ant-pagination{
        text-align: right;
        padding: 10px 0;
    }
}
.localBtnClass{
    background-color: #25bc9e;
    border-color:#25bc9e !important;
}
.ant-btn-dashed:active{
    background-color: #25bc9e;
}
.ant-btn-primary:active{
    background-color: #25bc9e;
}
.localBtnClass:active,
.localBtnClass:hover{
    background-color: #25bc9e !important;
}
.ant-btn-primary:hover, .ant-btn-primary:focus{
    background-color: #25bc9e !important;
}
.rowClassName{
    .ant-table-cell{
        padding: 10px 16px;
    }
}