.deal-headerbox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    .dealheaders{
        margin: 0;
    }
    .dealdetails{
        display: flex;
        .detail-items{
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}
.divider-box{
    height: 10px;
    background-color: #e8edf1;
}
.btnGroups{
    padding: 15px 30px;
}
.btngroups{
    text-align: right;
    margin-right: 20px;
    padding-bottom: 30px;
}
.needWrap{
    background-color: #ffffff;
}