.doneneedWrap{
    background-color: #ffffff;
    .donedeal-headerbox{
        display: flex;
        flex-direction: column;
        padding: 15px;
        .dealdetails{
            display: flex;
            .detail-items{
                margin-right: 10px;
            }
        }
    }
    .btnGroups{
        padding: 15px 30px;
        text-align: right;
    }
    .divider-box{
        height: 10px;
        background-color: #e8edf1;
    }
}
